#ID_1{
    text-align: center;
    text-shadow: 0px 0px 5px #A5FFD6;
}
.form_container{
    box-shadow: 40px 0px 10px #7b91d3;
    border-radius: 20px;
}
input,select,textarea{
    width: 100%;
    background-color: #B4D6D3;
    border-bottom: groove;
    border-top: ridge;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #708D81;
}
input#check{
    width: 20px;
    height: 20px;
    display: inline;
    background-color: #B4D6D3;
}

label{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
textarea{
    width: 100%;
}
div{
    width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 3px gray;
    padding: 20px;
    background-color: #B8BAC8;
}
button{
    background-color: rgb(61, 116, 255);
    border-radius: 5px;
    color: white;
    height: 35px;  
    width: 235px;
    border: none;
    box-shadow: 5px 5px 5px #708D81;
}
#btn1{
    margin-right: 25px;
}
body{
    background-color: #D7FDF0;
}
#ppic{
    background-color: #B4D6D3;
    border: solid gray;
    padding: 3px;
    border-bottom: groove;
    border-top: ridge;
}
#check{
    text-align: left;
}
#ppic:hover,input:hover,select:hover,textarea:hover{
    background-color: #FFAF87;
}
button:hover{
    background-color: blue;
    cursor: pointer;
}